@model Project.Web.Areas.Company.ViewModels.ProfileDetailsViewModel
<div class="row form-control ">
    <div class="col">
        <h3 class="text-center">@Model.Name</h3>
        <hr />
        @for (int i = 0; i < 5; i++)
        {
            if (i <= Model.Rating.AverageRating)
            {
                <span class="fa fa-star checked"></span>
            }
            else
            {
                <span class="fa fa-star"></span>
            }

        }

        <p>@Model.Rating.AverageRating.ToString("F1") average based on @Model.Rating.CountOfVotes reviews.</p>


        @if (Model.Rating.VotedUsers.FirstOrDefault(x => x.UserProfileId == ViewBag.Id) == null)
        {
            <form asp-area="Company" asp-controller="Profile" asp-action="Details">
                <input type="number" min="0" max="5" step="1" asp-for="@Model.RateDigit" class="form-control mytext" />
                <span asp-validation-for="@Model.RateDigit" class="text-danger"></span>
                <input name="companyName" hidden value="@Model.Name" />
                <div class="form-group">
                    <input type="submit" value="Rate" class="btn btn-default" />
                </div>
            </form>
        }



    </div>
    <div class=" form-control half-width  d-flex justify-content-between jobDetailsInfo">
        <h5>
            Email:@Model.Email
        </h5>
        <h5>Working Areas:@Model.Categories</h5>
    </div>

    <p class="text-center">@Model.Description</p>



</div>







