@model Project.Web.Areas.Company.ViewModels.ProfileDetailsViewModel
<div class="row form-control companyProfile">
    <div class="col">
        <h3 class="text-center">@Model.Name</h3>
        <hr />
        <h5 id="element1">Raiting:<b>@Model.Rating.AverageRating.ToString("F1")</b>/5.0</h5>
        <h5 id="element2">
            Email:@Model.Email
        </h5>



        @if (Model.Rating.VotedUsers.FirstOrDefault(x => x.UserProfileId == ViewBag.Id) == null)
        {
            <form asp-area="Company" asp-controller="Profile" asp-action="Details">
                <input type="number" min="0" max="5" step="1" asp-for="@Model.RateDigit" class="form-control mytext" />
                <span asp-validation-for="@Model.RateDigit" class="text-danger"></span>
                <input name="companyName" hidden value="@Model.Name" />
                <div class="form-group">
                    <input type="submit" value="Rate" class="btn btn-default" />
                </div>
            </form>
        }

    </div>
    <h5 class="workingAreas">Working Areas:@Model.Categories</h5>

    <p class="text-center">@Model.Description</p>



</div>







