@model Project.Web.Areas.User.ViewModels.JobOffersViewModel


<div class="table-responsive-lg">
    <table class="table table-hover table-striped ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Company</th>
                <th scope="col">StartDate</th>
                <th scope="col">EndDate</th>
                <th scope="col">Price</th>
                <th scope="col">Comment</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var offer in Model.Offers)
            {
                <tr>
                    <td><a asp-area="Company" asp-controller="Profile" asp-action="Details" asp-route-id="@offer.CompanyId">@offer.Company.Name</a></td>
                    <td>@offer.StartDate.ToString("dd/M/yyyy")</td>
                    <td>@offer.EndDate.ToString("dd/M/yyyy")</td>
                    <td>@offer.Price$</td>
                    <td>@offer.Comment</td>
                    <td><a asp-area="User" asp-controller="Offer" asp-action="AcceptOffer" asp-route-id="@offer.Id">Accept</a></td>


                    
                </tr>
            }

            </tbody>

    </table>
</div>